.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* variables */ 
/* :root {
    --primary: ;
    --secondary: ;
}  */

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* basestyles - (buttons, input fields) */
body {
    background-color: hsl(212, 7%, 36%);
    font-family: 'Barlow';
    color: hsl(0, 0%, 100%);
    font-weight: 700, 900;
}

/* .button {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}

.button:hover {
    color: #222;
    background: var(--primary);
} 

input, textarea {
    background: rgba(255,255,255,0.5);
    padding; 10px 16px;
    border-radius: 20px;
    border: 2px solid grey;
    color: #f2f2f2;
}

*/

/* fonts */
/* using custom fonts - registering fonts */
@font-face {
    font-family: 'Barlow';
    src: url(assets/fonts/Barlow-Medium.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(assets/fonts/Fraunces-Black.ttf),
    url(assets/fonts/Fraunces-Bold.ttf);
    font-weight: 700, 900;
}
h1, h2, h3, h4 {
    display: inline-block;
    font-family: 'Fraunces';
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.4;
    width: 9em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 0.7em;
    text-transform: uppercase;
}

h4 a {
    color: black;
}

p {
    font-size: 1em;
}

/* mobile styles */

/* small tablets styles */
@media screen and (min-width: 620px) {
    
}

/* large tablets & laptop */
@media screen and (min-width: 960px) {

    body {
        font-size: 1.5em;
    }
    
}

/* desktop styles */
@media screen and (min-width: 1200px) {

    body {
        font-size: 2em;
    }
    
}


.site-header {
    background-color: hsl(204, 94%, 66%);
}

.dropdown-menu {
    background-color: white;
    width: 87.8%;
    height: 20em;
    position: absolute;
    top: 6em;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 4em;
    letter-spacing: .020em;
    

    display: none;

}

.dropdown-menu .one, .two, .three {
    color: hsl(213, 10%, 55%);
}

.dropdown-menu .four a button {
    font-family: 'Fraunces';
    color: black;
}

.dropdown-menu.active {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four a button {
    background-color: hsl(51, 100%, 49%);
    width: 9.5em;
    padding: 1.5em 2em;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}


.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 2rem 1.5rem;
    border: none;
}

.hero {
    background-color: hsl(204, 94%, 66%);
    height: 100vh;
    /* position: relative; */
    display: flex;
    flex-direction: column;

    /* padding-top: .02525em; */
    
    
    text-align: center;
    letter-spacing: .2em;
}

.hero h1 {
    padding-top: .45em;
    margin-bottom: 1.5em;
}

.hero .arrow {
    justify-content: center;
}